<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>currentAppTheme</key>
        <string>Light</string>
        <key>lightTheme</key>
        <dict>
            <key>fontName</key>
            <string>HelveticaNeue-Light</string>
            <key>primaryRGB</key>
            <array>
                <integer>240</integer>
                <integer>90</integer>
                <integer>40</integer>
            </array>
            <key>secondaryRGB</key>
            <array>
                <integer>39</integer>
                <integer>120</integer>
                <integer>140</integer>
            </array>
            <key>backgroundRGB</key>
            <array>
                <integer>255</integer>
                <integer>255</integer>
                <integer>255</integer>
            </array>
        </dict>
        <key>darkTheme</key>
        <dict>
            <key>fontName</key>
            <string>HelveticaNeue-Light</string>
            <key>primaryRGB</key>
            <array>
                <integer>243</integer>
                <integer>155</integer>
                <integer>128</integer>
            </array>
            <key>secondaryRGB</key>
            <array>
                <integer>123</integer>
                <integer>204</integer>
                <integer>223</integer>
            </array>
            <key>backgroundRGB</key>
            <array>
                <integer>64</integer>
                <integer>64</integer>
                <integer>64</integer>
            </array>
        </dict>
    </dict>
</plist>
